/*// index.html - все блоки с user - по 2 в ряд. кнопки/ссылки находяться под информацией про user.*/
body{
    margin: 0;
    padding: 0;
}
.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1480px;
    padding: 20px;
    height: 710px;
    overflow: auto;
    background: url("https://mobimg.b-cdn.net/v3/fetch/01/01f2c43831ed91f9b5e28e0892c1f612.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.userDD{
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 20px;
    margin: 50px;
    border-radius: 20px;
    border: 5px solid #4c86ff;
    box-shadow: 0 10px 10px rgb(0, 0, 0), 0 10px 20px rgb(0, 0, 0);
    background: url("https://mobimg.b-cdn.net/v3/fetch/f3/f3826e202a9f845685b30fe7a6f22605.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #f6f603;
    font-family: cursive;
    font-size: 20px;
}
.btnUser{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #f6f603;
}