/*// user-details.html - блок с информацией про user вверху страницы. Кнопка ниже, на 90% ширины страницы, по центру.*/
/*// блоки с краткой информацией про post - в ряд по 5 объектов.*/
body{
    background: #eeeeee;
}
.fullUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btnD {
    box-shadow: 0 15px 30px rgb(196, 196, 196), 0 10px 10px rgb(196, 196, 196);
    width: 200px;
    padding: 8px;
    color: #8d8888;
    border: 5px solid #dad9d9;
    border-radius: 10px;
    position: absolute;
    top: 660px;
    left: 600px;
    background: #dad9d9;

}
.divFull{

    padding: 10px;
    margin-left: 460px;
    margin-top: 10px;
    height: 290px;
    border: 5px solid #dad9d9;
    box-shadow: 0 15px 30px rgb(196, 196, 196), 0 20px 20px rgb(196, 196, 196);
    background: #dad9d9;
    width: 400px;
    color: #8d8888;
    border-radius: 10px;

}
.titleUserDiv{
    display: flex;
    flex-wrap: wrap;
    margin-top: 36px;
}
.btnDivTit{
    display: flex;
    flex-direction: column;
    width: 268px;
    padding: 3px;
    border-radius: 20px;
    border: 5px solid #dad9d9;
    box-shadow: 0 15px 30px rgb(196, 196, 196), 0 20px 20px rgb(196, 196, 196);
    background: #dad9d9;
    margin-top: 35px;
    margin-left: 16px;
    color: #8d8888;
}
.hrefP{
    width: 200px;
    padding: 3px;





}