body{

}
.posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1350px;
    padding: 20px;
    background: url("https://images.1plus1.ua/uploads/articles/000/910/978/1cd1b2a6c73c0abb73a9c1c4052bd440_1200x675.png?v=1648808428");
}
.post{
    display: flex;flex-direction: column;
    align-items: center;
    width: 150px;
    padding: 20px;
    margin: 20px;
    border: 5px solid blue;
    background: #ffff00;
    color: red;
    border-radius: 50px;
}

.comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    padding: 20px;
}
.comment{
    display: flex;flex-direction: column;
    align-items: center;
    width: 150px;
    padding: 20px;
    margin: 20px;
    border: 5px solid blue;
    background: #ffff00;
    color: red;
    border-radius: 50px;
}
