/*ost-details.html - блок с информацией про пост вверху. Комментарии - по 4 в ряд.*/
/* Все без исключения элементы, который характеризируют user,post,comment  визуализировать,
так, что бы было видно их блоки (дать задний фон + margin. Иными словами - крайне четкая сетка)*/

body{
}
.DivInfo{
    padding: 10px;
    margin-left: 460px;
    margin-top: 10px;
    height: 290px;
    width: 400px;
    border-radius: 10px;
}
.infPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btnPosts{
    width: 200px;
    padding: 8px;
    border-radius: 10px;
    position: absolute;
    top: 620px;
    left: 600px;
}
.commentDiv{
    display: flex;
    width: 300px;
    padding: 10px;
    border-radius: 20px;

    margin-top: 20px;
    margin-left: 40px;

}
.comPoster{
    display: flex;
    flex-wrap: wrap;
}
.comentHref{
    width: 200px;
    padding: 8px;
    border-radius: 10px;
    position: absolute;
    top: 620px;
    left: 850px;
}